In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

IMPORTING LIBRARIES

In [2]:
import numpy as np 
import pandas as pd 
import tensorflow as tf

LOADING TRAIN SET

In [8]:
train_data = pd.read_csv('/content/drive/MyDrive/train.csv',nrows=3e6)
raw_ids_all = train_data["Id"]#only ids
raw_ids = raw_ids_all.unique()#unique ids
train_data.head(25)

    Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th   Expected
0    1             3          10.0  ...           NaN           NaN   0.254000
1    1            16          10.0  ...           NaN           NaN   0.254000
2    1            25          10.0  ...           NaN           NaN   0.254000
3    1            35          10.0  ...           NaN           NaN   0.254000
4    1            45          10.0  ...           NaN           NaN   0.254000
5    1            55          10.0  ...           NaN           NaN   0.254000
6    2             1           2.0  ...     -0.350006      1.059998   1.016000
7    2             6           2.0  ...           NaN      1.409988   1.016000
8    2            11           2.0  ...     -0.350006      1.759994   1.016000
9    2            16           2.0  ...      0.000000      1.059998   1.016000
10   2            21           2.0  ...     -0.350006      1.759994   1.016000
11   2            26           2.0  ...     -0.350006      0.709991   1.016000
12   2            31           2.0  ...     -0.710007      0.349991   1.016000
13   2            37           2.0  ...     -0.350006      1.059998   1.016000
14   2            42           2.0  ...      0.000000      0.349991   1.016000
15   2            47           2.0  ...     -0.350006      1.059998   1.016000
16   2            53           2.0  ...     -0.350006      2.119995   1.016000
17   2            58           2.0  ...     -0.350006      0.699997   1.016000
18   3             4          10.0  ...           NaN           NaN  26.162014
19   3             9          10.0  ...           NaN           NaN  26.162014
20   3            14          10.0  ...           NaN           NaN  26.162014
21   3            18          10.0  ...           NaN           NaN  26.162014
22   3            23          10.0  ...           NaN           NaN  26.162014
23   3            28          10.0  ...           NaN           NaN  26.162014
24   3            33          10.0  ...           NaN           NaN  26.162014

[25 rows x 24 columns]

DATA PREPROCESSING

In [6]:
#CONVERT TO FLOAT
for column in train_data.columns:
    train_data[column] = train_data[column].astype(np.float32)
train_data['Id'] = train_data['Id'].astype(np.int32)
train_data.head()

   Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
0   1           3.0          10.0  ...           NaN           NaN     0.254
1   1          16.0          10.0  ...           NaN           NaN     0.254
2   1          25.0          10.0  ...           NaN           NaN     0.254
3   1          35.0          10.0  ...           NaN           NaN     0.254
4   1          45.0          10.0  ...           NaN           NaN     0.254

[5 rows x 24 columns]

In [7]:
#REMOVING THE ROWS WITH NAN IN REF COLUMN
train_raw_tmp = train_data[~np.isnan(train_data.Ref)]
raw_ids_tmp = train_raw_tmp["Id"].unique()
train_new = train_data[np.in1d(raw_ids_all, raw_ids_tmp)]
train_new.shape

(2002634, 24)

In [6]:
#FILLING THE REST OF THE VALUES WITH ZERO
train_new = train_new.fillna(0.0)
train_new.head(10)

    Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
6    2           1.0           2.0  ...     -0.350006      1.059998  1.016001
7    2           6.0           2.0  ...      0.000000      1.409988  1.016001
8    2          11.0           2.0  ...     -0.350006      1.759995  1.016001
9    2          16.0           2.0  ...      0.000000      1.059998  1.016001
10   2          21.0           2.0  ...     -0.350006      1.759995  1.016001
11   2          26.0           2.0  ...     -0.350006      0.709991  1.016001
12   2          31.0           2.0  ...     -0.710007      0.349991  1.016001
13   2          37.0           2.0  ...     -0.350006      1.059998  1.016001
14   2          42.0           2.0  ...      0.000000      0.349991  1.016001
15   2          47.0           2.0  ...     -0.350006      1.059998  1.016001

[10 rows x 24 columns]

In [7]:
#ALL THE MISSING VALUES ARE HANDLED
train_new.isnull().sum()

Id                       0
minutes_past             0
radardist_km             0
Ref                      0
Ref_5x5_10th             0
Ref_5x5_50th             0
Ref_5x5_90th             0
RefComposite             0
RefComposite_5x5_10th    0
RefComposite_5x5_50th    0
RefComposite_5x5_90th    0
RhoHV                    0
RhoHV_5x5_10th           0
RhoHV_5x5_50th           0
RhoHV_5x5_90th           0
Zdr                      0
Zdr_5x5_10th             0
Zdr_5x5_50th             0
Zdr_5x5_90th             0
Kdp                      0
Kdp_5x5_10th             0
Kdp_5x5_50th             0
Kdp_5x5_90th             0
Expected                 0
dtype: int64

In [8]:
#REMOVE THE ROWS WITH EXPECTED GREATER THAN THRESHOLD=73mm
train_new_group = train_new.groupby('Id')
df = pd.DataFrame(train_new_group['Expected'].mean()) # mean, or any value
meaningful_ids = np.array(df[df['Expected'] < 73].index)
train_final = train_new[np.in1d(train_new.Id, meaningful_ids)]
train_final.shape

(1961311, 24)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_final.iloc[:,:23]=sc.fit_transform(train_final.iloc[:,:23])
train_final.head()  #z=x-u/s

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

         Id  minutes_past  radardist_km  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
6  -1.77416     -1.647435     -1.930281  ...     -0.104647     -0.312249  1.016001
7  -1.77416     -1.358818     -1.930281  ...      0.131872     -0.213773  1.016001
8  -1.77416     -1.070201     -1.930281  ...     -0.104647     -0.115292  1.016001
9  -1.77416     -0.781584     -1.930281  ...      0.131872     -0.312249  1.016001
10 -1.77416     -0.492967     -1.930281  ...     -0.104647     -0.115292  1.016001

[5 rows x 24 columns]

In [10]:
#PADDING ZEROS TO CONVERT VARIABLE SIZED VECTOR INTO FIXED SIZE VECTOR
def pad_series(X, target_len=19):
    seq_len = X.shape[0]
    pad_size = target_len-seq_len
    if (pad_size > 0):
        X = np.pad(X, ((0,pad_size), (0,0)), 'constant', constant_values=0.)
    return X, seq_len

In [11]:
data_pd_gp = train_final.groupby("Id")
data_size = len(data_pd_gp)

In [12]:
#CONVERTING 2D DATASET TO 3D TO FEED LSTM MODEL
INPUT_WIDTH = 19

X_train = np.empty((data_size, INPUT_WIDTH, 22))
seq_lengths = np.zeros(data_size)
y_train = np.zeros(data_size)


i = 0
for _, group in data_pd_gp:
    group_array = np.array(group)
    X, seq_length = pad_series(group_array[:,1:23], target_len=INPUT_WIDTH) 
    y = group_array[0,23]
    X_train[i,:,:] = X[:,:]
    seq_lengths[i] = seq_length
    y_train[i]= y
    i += 1
    
X_train.shape, y_train.shape

((157580, 19, 22), (157580,))

ARCHITECTURE OF LSTM MODEL

In [13]:
from keras.layers import (
    Input,
    Dense,
    LSTM,
    GlobalAveragePooling1D,
    AveragePooling1D,
    TimeDistributed,
    Flatten,
    Bidirectional,
    Dropout,
    Masking,
    Layer,
    BatchNormalization
)
from keras.models import Model
from keras.optimizers import Adam,Nadam

In [14]:
#CREATING NON MASKING BEFORE FLATTEN
class NonMasking(Layer):   
    def __init__(self, **kwargs):   
        self.supports_masking = True  
        super(NonMasking, self).__init__(**kwargs)   
    def build(self, input_shape):   
        input_shape = input_shape   
    def compute_mask(self, input, input_mask=None):   
        # do not pass the mask to the next layers   
        return None   
    def call(self, x, mask=None):   
        return x   
    def get_output_shape_for(self, input_shape):   
        return input_shape

In [16]:
def get_model_deep(shape=(19,22)):
    inp = Input(shape)
    x = Dense(16)(inp)
    x = BatchNormalization()(x)
    x = Masking(mask_value=0.)(x)
    x = Bidirectional(LSTM(64, return_sequences=True))(x)
    x = BatchNormalization()(x)
    x = TimeDistributed(Dense(64))(x)
    x = BatchNormalization()(x)
    x = Bidirectional(LSTM(128, return_sequences=True))(x)
    x = BatchNormalization()(x)
    x = TimeDistributed(Dense(1))(x)
    x = BatchNormalization()(x)
    x = NonMasking()(x)
    x = Flatten()(x)
    x = Dropout(0.5)(x)
    x = Dense(1)(x)

    model = Model(inp, x)
    return model

COMPILE THE MODEL

In [17]:
model = get_model_deep((19,22))
model.compile(optimizer=Nadam(learning_rate=0.001), loss='mae')

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/optimizer_v2/optimizer_v2.py:375: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

TRAIN THE MODEL

In [18]:
model.fit(X_train, y_train, batch_size=64, epochs=1)

2463/2463 [==============================] - 357s 128ms/step - loss: 2.5783

In [19]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 19, 22)]          0
_________________________________________________________________
dense (Dense)                (None, 19, 16)            368
_________________________________________________________________
batch_normalization (BatchNo (None, 19, 16)            64
_________________________________________________________________
masking (Masking)            (None, 19, 16)            0
_________________________________________________________________
bidirectional (Bidirectional (None, 19, 128)           41472
_________________________________________________________________
batch_normalization_1 (Batch (None, 19, 128)           512
_________________________________________________________________
time_distributed (TimeDistri (None, 19, 64)            8256
_________________________________________________________________
batch_normalization_2 (Batch (None, 19, 64)            256
_________________________________________________________________
bidirectional_1 (Bidirection (None, 19, 256)           197632
_________________________________________________________________
batch_normalization_3 (Batch (None, 19, 256)           1024
_________________________________________________________________
time_distributed_1 (TimeDist (None, 19, 1)             257
_________________________________________________________________
batch_normalization_4 (Batch (None, 19, 1)             4
_________________________________________________________________
non_masking (NonMasking)     (None, 19, 1)             0
_________________________________________________________________
flatten (Flatten)            (None, 19)                0
_________________________________________________________________
dropout (Dropout)            (None, 19)                0
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 20
=================================================================
Total params: 249,865
Trainable params: 248,935
Non-trainable params: 930
_________________________________________________________________

SAVE THE MODEL AND WEIGHTS

In [21]:
from keras.models import load_model
model.save('masked_lastm.h5')
model.save_weights("ml_weights.h5")

/usr/local/lib/python3.7/dist-packages/keras/utils/generic_utils.py:497: CustomMaskWarning: Custom mask layers require a config and must override get_config. When loading, the custom mask layer must be passed to the custom_objects argument.
  category=CustomMaskWarning)

In [23]:
del train_data
del raw_ids_all
del raw_ids
del train_raw_tmp
del raw_ids_tmp
del train_new
del train_new_group
del df
del meaningful_ids
del train_final
del data_pd_gp
del data_size
del X_train
del y_train
del seq_lengths

LOAD TEST SET

In [25]:
test_raw = pd.read_csv('/content/drive/MyDrive/test.csv',nrows=2e6)
test_raw_ids_all = test_raw["Id"]
test_raw_ids = np.array(test_raw_ids_all.unique())

PREPROCESS TEST DATA

In [26]:
#FILL MISSING VALUES WITH ZEROS
test_new = test_raw.fillna(0.0)
#SCALE THE TEST DATA
test_new.iloc[:,:23]=sc.transform(test_new.iloc[:,:23])

In [27]:
#CONVERT 2D TO 3D
INPUT_WIDTH = 19

data_pd_gp = test_new.groupby("Id")
data_size = len(data_pd_gp)
print(test_new.shape)

X_test = np.empty((data_size, INPUT_WIDTH, 22))
seq_lengths = np.zeros(data_size)

i = 0
for _, group in data_pd_gp:
    group_array = np.array(group)
    X, seq_length = pad_series(group_array[:,1:23], target_len=INPUT_WIDTH) 
    X_test[i,:,:] = X[:,:]
    seq_lengths[i] = seq_length
    i += 1
    
X_test.shape

(2000000, 23)

(180880, 19, 22)

PREDICT TEST DATA

In [28]:
output = model.predict(X_test, batch_size=64,verbose=1)

2827/2827 [==============================] - 113s 38ms/step

In [44]:
output[:4]
print(len(output))
for i in range(len(output)):
  if output[i] <0:
    output[i]=0

180880

In [45]:
my_submission = pd.DataFrame({'Id': np.arange(1,output.shape[0]+1), 'Expected': output[:,0]})

In [46]:
my_submission.tail()

            Id  Expected
180875  180876  1.279909
180876  180877  8.061604
180877  180878  1.350357
180878  180879  1.279840
180879  180880  2.285069

In [47]:
actual=pd.read_csv('/content/drive/MyDrive/sample_solution.csv',nrows=180880)
print(len(actual))
actual.tail()

180880

            Id   Expected
180875  180876   3.344117
180876  180877  27.577250
180877  180878   1.468554
180878  180879   3.349743
180879  180880   5.312242

In [48]:
act=actual["Expected"]
predicted=my_submission["Expected"]

ERROR CALCULATION

In [50]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(act,predicted)

1.258304593338303

CONCATENATION OF RESULTS FROM LSTM AND RIDGE REGRESSION

In [51]:
reg_output=pd.read_csv('/content/drive/MyDrive/sub (1).csv',nrows=180880)
reg_out=reg_output['Expected'].values
rnn_out=my_submission['Expected'].values

In [52]:
for i in range(len(reg_out)):
  if rnn_out[i]<5:
    rnn_out[i]=(rnn_out[i]+reg_out[i])/2

In [53]:
my_submission["Expected"]=rnn_out
my_submission.tail()

            Id  Expected
180875  180876  3.208961
180876  180877  8.061604
180877  180878  2.433403
180878  180879  3.101017
180879  180880  3.211053

In [54]:
act_combined=actual["Expected"]
predicted_combined=my_submission["Expected"]

ERROR OF LSTM-REG

In [55]:
mean_absolute_error(act_combined,predicted_combined)

1.082132572887785