In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np 
import pandas as pd 
import tensorflow as tf

In [ ]:
train_data = pd.read_csv('/content/drive/MyDrive/train.csv',nrows=3e6)
raw_ids_all = train_data["Id"]#only ids
raw_ids = raw_ids_all.unique()#unique ids

In [ ]:
for column in train_data.columns:
    train_data[column] = train_data[column].astype(np.float32)
train_data['Id'] = train_data['Id'].astype(np.int32)

In [ ]:
train_data.dropna(subset=['Ref'],inplace=True)

In [ ]:
train_data.fillna(0,inplace=True)
train_data.shape

(1401897, 24)

In [ ]:
train_new_group = train_new.groupby('Id')
df = pd.DataFrame(train_new_group['Expected'].mean()) # mean, or any value
meaningful_ids = np.array(df[df['Expected'] < 73].index)
print(len(meaningful_ids))

157580

In [ ]:
train_final = train_new[np.in1d(train_new.Id, meaningful_ids)]
train_data.columns

Index(['Id', 'minutes_past', 'radardist_km', 'Ref', 'Ref_5x5_10th',
       'Ref_5x5_50th', 'Ref_5x5_90th', 'RefComposite', 'RefComposite_5x5_10th',
       'RefComposite_5x5_50th', 'RefComposite_5x5_90th', 'RhoHV',
       'RhoHV_5x5_10th', 'RhoHV_5x5_50th', 'RhoHV_5x5_90th', 'Zdr',
       'Zdr_5x5_10th', 'Zdr_5x5_50th', 'Zdr_5x5_90th', 'Kdp', 'Kdp_5x5_10th',
       'Kdp_5x5_50th', 'Kdp_5x5_90th', 'Expected'],
      dtype='object')

In [ ]:
train_data = train_data.groupby('Id')
expected = train_data['Expected'].mean().values
minutes_past=train_data['minutes_past'].max().values
ref=train_data['Ref'].mean().values
ref1=train_data['Ref_5x5_10th'].mean().values
ref5=train_data['Ref_5x5_50th'].mean().values
ref9=train_data['Ref_5x5_90th'].mean().values
ref_c=train_data['RefComposite'].mean().values
ref_c1=train_data['RefComposite_5x5_10th'].mean().values
ref_c5=train_data['RefComposite_5x5_50th'].mean().values
ref_c9=train_data['RefComposite_5x5_90th'].mean().values
rhohv=train_data['RhoHV'].mean().values
rhohv1=train_data['RhoHV_5x5_10th'].mean().values
rhohv5=train_data['RhoHV_5x5_50th'].mean().values
rhohv9=train_data['RhoHV_5x5_90th'].mean().values
zdr=train_data['Zdr'].mean().values
zdr1=train_data['Zdr_5x5_10th'].mean().values
zdr5=train_data['Zdr_5x5_50th'].mean().values
zdr9=train_data['Zdr_5x5_90th'].mean().values
kdp=train_data['Kdp'].mean().values
kdp1=train_data['Kdp_5x5_10th'].mean().values
kdp5=train_data['Kdp_5x5_10th'].mean().values
kdp9=train_data['Kdp_5x5_10th'].mean().values
id=train_data['Id'].mean().values

In [ ]:
train_final=pd.DataFrame({'Id':id,
                          'minutes_past':minutes_past,
                          'Ref':ref,
                          'Ref_5x5_10th':ref1,
                          'Ref_5x5_50th':ref5,
                          'Ref_5x5_90th':ref9,
                          'RefComposite':ref_c,
                          'RefComposite_5x5_10th':ref_c1,
                          'RefComposite_5x5_50th':ref_c5,
                          'RefComposite_5x5_90th':ref_c9,
                          'RhoHV':rhohv,
                          'RhoHV_5x5_10th':rhohv1,
                          'RhoHV_5x5_50th':rhohv5,
                          'RhoHV_5x5_90th':rhohv9,
                          'Zdr':zdr,
                          'Zdr_5x5_10th':zdr1,
                          'Zdr_5x5_50th':zdr5,
                          'Zdr_5x5_90th':zdr9,
                          'Kdp':kdp,
                          'Kdp_5x5_10th':kdp1,
                          'Kdp_5x5_50th':kdp5,
                          'Kdp_5x5_90th':kdp9,
                          'Expected':expected})
train_final.head()

   Id  minutes_past        Ref  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
0   2          58.0  16.625000  ...     -1.086670     -1.086670  1.016001
1   4          56.0  26.600000  ...      0.000000      0.000000  4.064002
2   7          11.0  14.750000  ...      0.000000      0.000000  0.508000
3   8          54.0  19.600000  ...     -0.810001     -0.810001  3.225002
4  10          53.0  33.958332  ...     -5.938337     -5.938337  0.010000

[5 rows x 23 columns]

In [ ]:
train_final.drop(['Id'],axis=1,inplace=True)

In [ ]:
train_final.shape

(161016, 22)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train_final.iloc[:,:-1]=sc.fit_transform(train_final.iloc[:,:-1])

In [ ]:
train_data=train_final

In [ ]:
train_final.head()

   minutes_past       Ref  Ref_5x5_10th  ...  Kdp_5x5_50th  Kdp_5x5_90th  Expected
0      0.623684 -0.599943     -0.023069  ...      0.126291      0.126291  1.016001
1      0.482966  0.622764      0.017337  ...      0.789147      0.789147  4.064002
2     -2.683185 -0.829775     -0.910235  ...      0.789147      0.789147  0.508000
3      0.342248 -0.235276     -0.319962  ...      0.295056      0.295056  3.225002
4      0.271889  1.524727      1.729304  ...     -2.833172     -2.833172  0.010000

[5 rows x 22 columns]

In [ ]:
x=train_final.iloc[:,:-1]
y=train_final.iloc[:,-1]

In [ ]:

params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [ ]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [ ]:
mod = xgboost.XGBRegressor()

In [ ]:
random_search=RandomizedSearchCV(mod,param_distributions=params,n_iter=5,n_jobs=-1,cv=5,verbose=3)

In [ ]:
from datetime import datetime
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(x,y)
timer(start_time) #

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  8.8min finished

[12:23:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

 Time taken: 0 hours 9 minutes and 20.63 seconds.

In [ ]:
random_search.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.4,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
random_search.best_params_

{'colsample_bytree': 0.4,
 'gamma': 0.4,
 'learning_rate': 0.1,
 'max_depth': 10,
 'min_child_weight': 1}

In [ ]:
mod=xgboost.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.4,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
from sklearn.model_selection import cross_val_score
score=cross_val_score(mod,x,y,cv=10)

[12:27:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:27:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:28:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:28:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:29:12] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:29:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:30:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:30:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:31:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[12:31:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

In [ ]:
score

array([-0.00181094,  0.00932676,  0.04238195,  0.01535463, -0.00630217,
       -0.00425534,  0.06288045,  0.01199729,  0.05335907, -0.03241413])

In [ ]:
score.mean()

0.015051756121010118

In [ ]:
x1=np.array(x)
y1=np.array(y)

In [ ]:
mod1=xgboost.XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.4,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)